@font-face {
  font-family: "Nanum gothic";
  src: url("./../assets/NanumGothic.woff2");
}
@font-face {
  font-family: "godo";
  src: url("./../assets/GodoM.woff2");
}
@font-face {
  font-family: "lineseed";
  src: url("./../assets/LINESeedKR-Rg.woff2");
}

.Header {
  background-size: auto;
  height: 900px;
}
.header-logo {
  width: 240px;
  height: 50px;
  cursor: pointer;
  background-image: url("./../assets/hanganglogo.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  padding: 20px 0;
}

.header-nav {
  display: flex;
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}

.header-pc-menu {
  display: flex;
  color: white;
  align-items: center;
}

.header-pc-menu > li {
  cursor: pointer;
  font-size: 18px;
  position: relative;
}

.header-pc-menu-title {
  font-family: "Nanum gothic";
  padding: 30px 60px;
}

.header-pc-menu-title > div {
  position: relative;
}

.header-pc-menu-bottom-border {
  width: 0%;
  background-color: rgb(255, 255, 255);
  height: 2px;
  position: absolute;
  left: 50%;
  top: 32px;
  transform: translate(-50%, 0%);
  transition: 0.3s;
}

.header-pc-menu-sub {
  background-color: white;
  color: black;
  position: absolute;
  top: 86px;
  left: 30px;
  width: 110px;
  padding: 15px 10px;
  border-radius: 5px;
  transition: 0.17s;
  transform: scaleY(0);
  transform-origin: top;
}

.header-pc-menu > li:hover .header-pc-menu-bottom-border {
  width: 100%;
}

.header-pc-menu > li:hover .header-pc-menu-sub {
  transform: scaleY(1);
}

.header-pc-menu-sub > li {
  padding: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.header-pc-menu-sub > li:hover {
  background-color: rgb(32, 28, 88);
  color: white;
}

.header-nav-back {
  background-color: rgba(0, 0, 0, 0.2);
}

.header-title {
  margin: 200px auto;
  max-width: 1200px;
  color: white;
}

.header-title-first {
  font-size: 70px;
  width: 1000px;
  margin-left: 40px;
  margin-bottom: 0;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  font-family: "godo";
}
.header-title-second {
  font-size: 26px;
  width: 1000px;
  margin-top: 50px;
  margin-left: 40px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  font-family: "Nanum gothic";
}
.header-mobile-button {
  display: none;
}
.header-mobile-nav {
  display: none;
}

.header-mobile-background {
  display: none;
}
@media (max-width: 990px) {
  .header-nav-back {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .header-logo {
    width: 240px;
    height: 40px;
    cursor: pointer;
    background-image: url("./../assets/hanganglogo_black.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }
  .header-mobile-button {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 26px;
    cursor: pointer;
  }
  .header-nav {
    padding: 15px;
    max-width: 1200px;
    margin: auto;
    justify-content: flex-start;
    position: relative;
    align-items: center;
  }

  .header-pc-menu {
    display: none;
  }

  .header-title {
    margin: 0px auto;
    color: white;
    padding-top: 90px;
  }
  .Header {
    background-image: url("./../assets/hangangbanner.webp");
    background-size: auto;
    height: 450px;
  }

  .header-title-first {
    font-size: 26px;
    text-align: center;
    margin: 80px auto;
    margin-bottom: 0;
    width: auto;
  }
  .header-title-second {
    font-size: 16px;
    margin: 30px auto;
    text-align: center;
    width: auto;
  }

  .header-mobile-nav {
    display: block;
    position: fixed;
    height: 100%;
    width: 45%;
    background-color: white;
    top: 0;
    left: 0;
    padding-top: 50px;
    z-index: 500;

    transform: translateX(-100%);
    transition: 0.3s;
  }

  .header-mobile-nav.open {
    transform: translateX(0);
  }

  .header-mobile-nav > li {
    border-bottom: 1px solid rgb(238, 238, 238);
    font-size: 14px;
    overflow: hidden;
    max-height: 50px;
    transition: 0.3s;
    position: relative;
    font-family: "lineseed";
  }

  .header-mobile-nav > li.open {
    max-height: 170px;
  }
  .header-mobile-menu-title {
    padding: 15px 20px;
    cursor: pointer;
    margin: 0;
  }

  .header-mobile-nav-sub {
    padding: 20px 30px;
    background-color: #f7f7f7;
    font-family: "lineseed";
  }

  .header-mobile-nav-sub > li {
    padding: 8px 0;
    cursor: pointer;
  }

  .header-mobile-open-icon,
  .header-mobile-close-icon {
    position: absolute;
    top: 18px;
    right: 20px;
  }

  .header-mobile-background {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    z-index: 300;
  }
}
