@font-face {
  font-family: "lineseed";
  src: url("./../assets/LINESeedKR-Rg.woff2");
}
@font-face {
  font-family: "Nanum gothic";
  src: url("./../assets/NanumGothic.woff2");
}
.history-wrap {
  max-width: 1200px;
  padding: 120px 50px;
  margin: auto;
}
.history-title {
  font-size: 36px;
  padding: 20px 0;
  font-family: "lineseed";
}
.history-main {
  margin: 0 20px;
}

.history-content-box {
  display: flex;
  gap: 30px;
  align-items: center;
}
.history-date {
  font-size: 22px;
  font-family: "lineseed";
  font-weight: bold;
  width: 200px;
}
.history-content {
  font-size: 16px;
  font-family: "lineseed";
}

.history-line {
  width: 100%;
  height: 3px;
  background-color: black;
  background: linear-gradient(to right, rgb(19, 0, 185), transparent);
  margin: 60px 0;
}

@media (max-width: 990px) {
  .history-main {
    margin: 0 10px;
  }
  .history-title {
    font-size: 24px;
  }
  .history-date {
    font-size: 14px;
    width: 120px;
    flex: 1;
  }
  .history-content {
    font-size: 12px;
    flex: 2;
  }
}
