.ProductSection {
  background-image: url("./../assets/page-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.product-wrap {
  max-width: 1200px;
  margin: auto;
  padding: 150px 50px;
}
.product-title-content-h3 {
  margin: 0;
  text-align: center;
  color: rgb(49, 49, 112);
  max-width: 1000px;
  margin: auto;
}

.product-main-imgcontent-box {
  display: flex;
  justify-content: space-between;
  height: 300px;
  max-width: 1000px;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  align-items: center;
}

.product-img-box {
  height: 250px;
}
.product-img-box img {
  height: inherit;
  box-shadow: 0 0 5px rgba(155, 152, 152, 0.1);
}

.product-img-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 380px;
}

.product-img-content > h3 {
  font-size: 32px;
  margin: 0;
}

.product-img-content > p {
  font-size: 18px;
}

.product-line {
  width: 100%;
  height: 3px;
  margin: 100px 0;
  background: linear-gradient(
    to right,
    transparent 10%,
    rgb(139, 19, 175) 50%,
    transparent 90%
  );
}

@media (max-width: 990px) {
  .product-title-content-h3 {
    font-size: 22px;
    max-width: 700px;
  }

  .product-main-imgcontent-box {
    display: block;
    height: auto;
    text-align: center;
  }
  .product-img-box {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .product-img-content > h3 {
    font-size: 22px;
    margin: 0;
  }

  .product-img-content > p {
    font-size: 14px;
    margin-bottom: 45px;
  }

  .product-img-box img {
    display: block;
    margin: auto;
    width: 90%;
  }
  .product-img-content {
    margin: auto;
  }

  .product-img-box img {
    display: block;
  }
}
